attrs==22.2.0
docopt==0.6.1
Flask==0.10.1
gitdb==4.0.10
GitPython==0.3.2rc1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
mypi==0.0.3
ordered-set==4.1.0
packaging==23.0
pluggy==1.0.0
pytest==7.2.1
semantic-version==2.3.0
smmap==5.0.0
Werkzeug==2.2.3
